#price{
    padding-bottom: 60px;
    p{
        text-align: center;
    }
    .blue__text{
        margin-top: 60px;
    }
    .hrr{
        margin-bottom: 45px;
    }
    .col__price{
        padding-left: 11px;
        padding-right: 11px;
        .price__title{
            font-size: 24px;
            font-weight: 700;
            padding: 27px 0;
            border: 1px solid #e0e0e0;
        }
        .money{
            padding: 39px 0;
            border: 1px solid #e0e0e0;
            .cina{
                
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .dol{
                    align-self: flex-start;
                    padding-top: 20px;
                    font-size: 24px;
                    font-weight: 600;
                }
                .num{
                    font-size: 60px;
                    font-weight: 600;
                    padding: 0;
                }
            }
        }
        .order{
            padding: 50px 35px 28px;
            border: 1px solid #e0e0e0;

            span{
                color: #41aae0;
            }
            .btn{
                display: flex;
                justify-content: center;
                button{
                    border: 1px solid #e0e0e0;
                    margin: 45px 0px 28px;
                    width: 160px;
                    a{
                        color:#008ed6 ;
                    }
                }
                button a:hover{
                    .btn button{
                        background: #008ed6;
                    }
                    .money{
                        background: #008ed6;
                    }
                    .price__title{
                        color: #008ed6;
                    }

                }
            }
        }
    }
}