@import 'header', 'features', 'about', 'coment', 'price', 'contact', 'footer';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p{
    margin: 0;
}

.container{
    max-width: 1170px;
    // padding-left: 0;
    // padding-right: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.blue__text{
    font-size: 14px;
    font-weight: 700;
    color: #008ed6;
    
}
.main__text{
    font-weight: 400;
    line-height: 26px;
    color: #999999;
}
.title{
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    color: #1a1a1a;;
}
.title__white{
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
}
.blue__button{
    max-width: 160px;
    height: 50px;
    background: #008ed6;
    border: none;
    padding:0 25px;
    border-radius: 5px;
    a{
        margin: 0 auto;
        text-decoration: none;
        color:#fff;
        font-size: 14px;
        font-weight: 700;
    }
}
.gray__button{
    max-width: 160px;
    height: 50px;
    background: none;
    border: none;
    padding:0 25px;
    border-radius: 5px;
    border: 2px solid #37363b;
    a{
        margin: 0 auto;
        text-decoration: none;
        color:#fff;
        font-size: 14px;
        font-weight: 700;   
    }
}
.gray__button:hover{
    background: #008ed6;
    border: none;
}
.hrr{
    display: flex;
    width: 100%;
    justify-content: center;
    hr{
        size: 2px;
        border-width: 2px;
        border-color: #41aae0;
        width: 20px;
        display: inline-block;
        text-align: center;
        }
    .hr1{
        margin-right: 2px;
    }
}

.slick-dots li button::before{
    font-size: 10px;
    background: none;
    color: #4c494b;
}
.slick-dots li button:hover, .slick-dots li button:focus{
    
}
.slick-dots li.slick-active button::before{
    font-size: 20px;
    color: #fff;
}
.slick-dots{
    bottom:50px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}